In [79]:
import pandas as pd
import numpy as np

In [80]:
ds=pd.read_csv("Salesdata.csv")
ds.head()

   SALESPERSON  Old_Scheme  New_Scheme
0            1          57          62
1            2         103         122
2            3          59          54
3            4          75          82
4            5          84          84

In [81]:
ds[['Old_Scheme','New_Scheme']].describe()

       Old_Scheme  New_Scheme
count   30.000000   30.000000
mean    68.033333   72.033333
std     20.455980   24.062395
min     28.000000   32.000000
25%     54.000000   55.000000
50%     67.000000   74.000000
75%     81.500000   85.750000
max    110.000000  122.000000

In [82]:
import scipy.stats
from scipy.stats import ttest_rel
two_sample = ttest_rel(ds.Old_Scheme, ds.New_Scheme)
two_sample

Ttest_relResult(statistic=-1.5559143823544377, pvalue=0.13057553961337662)

In [ ]:
# conclusion from P#value
#pvalue =13% which means there is no significant difference between the old and new scheme and we need not reject null hypothesis

In [ ]:
#average input should increase by 5000
#Null hypothesis # increase in sales less than 5000 Ho<5000
#Alternate hypothesis # increase in slaes by 5000 or more H1=>5000

Type I Error =Reject the null hypothesis when there is in fact no significant effect (false positive).

In [ ]:
#Significance level is alpha = 0.05(5%) is the probability of rejecting the null hypothesis.
#That is the probability of making a type1 error.
probability of making a type 1 error=5%

In [91]:
#ds['diff']=ds['New_Scheme']-ds['Old_Scheme']
ds.diff =ds.New_Scheme-ds.Old_Scheme

In [88]:
ds.describe()

       SALESPERSON  Old_Scheme  New_Scheme       diff
count    30.000000   30.000000   30.000000  30.000000
mean     15.500000   68.033333   72.033333   4.000000
std       8.803408   20.455980   24.062395  14.081046
min       1.000000   28.000000   32.000000 -34.000000
25%       8.250000   54.000000   55.000000  -6.750000
50%      15.500000   67.000000   74.000000   7.500000
75%      22.750000   81.500000   85.750000  16.000000
max      30.000000  110.000000  122.000000  25.000000

In [95]:
import scipy.stats as stats
mu = 5 #5 indicates 5000 which is the desired difference
sd = 14.08 #std value of 'diff' difference column
ds['zscore'] = (ds.diff - mu)/ds.diff.std(ddof=0)
pValue = 1 - stats.norm.cdf(z_score)
pValue

0.037902059139001576

In [106]:
# estimate sample size via power analysis
from statsmodels.stats.power import ttest_power
#sample size=30
alpha = 0.05#default significance level
# perform power analysis
result=ttest_power(0.2, nobs=30, alpha=alpha, alternative='two-sided')
print('result: %.2f' % result)

result: 0.19

In [ ]:
# 19% chance of making type II error ( not rejecting the nulll hypothesis)
Power = Pr(reject H0 | H1 is true) = 1 - Pr(fail to reject H0 | H0 is false)
power = 1-(0.19)= 81%
# 0.19% chance of committing type II error.