In [1]:
import pandas as pd
import numpy as np

In [2]:
import zipfile as zp

In [3]:
zf = zp.ZipFile(r'/content/blogtext.csv.zip')

In [4]:
df=zf.extractall()

In [84]:
df=pd.read_csv('/content/blogtext.csv')

# New Section

In [85]:
df.head(5)

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...
2  2059027  ...             In het kader van kernfusie op aarde...
3  2059027  ...                   testing!!!  testing!!!
4  3581210  ...               Thanks to Yahoo!'s Toolbar I can ...

[5 rows x 7 columns]

In [86]:
df.shape

(681284, 7)

In [87]:
df1=df.loc[0:50000,:]

In [88]:
df1.head(5)

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...
2  2059027  ...             In het kader van kernfusie op aarde...
3  2059027  ...                   testing!!!  testing!!!
4  3581210  ...               Thanks to Yahoo!'s Toolbar I can ...

[5 rows x 7 columns]

In [89]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–"]

In [90]:
for char in spec_chars:
    df1['text'] = df1['text'].str.replace(char, ' ')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [93]:
df1.head(5)

        id  ...                                               text
0  2059027  ...             info has been found      100 pages ...
1  2059027  ...             these are the team members    drewe...
2  2059027  ...             in het kader van kernfusie op aarde...
3  2059027  ...                   testing     testing
4  3581210  ...               thanks to yahoo  s toolbar i can ...

[5 rows x 7 columns]

In [94]:
df1['text'] = df1['text'].str.lower()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [95]:
df1['text'] = df1['text'].str.replace(r'\s+', ' ')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [96]:
df1.head(5)

        id  ...                                               text
0  2059027  ...   info has been found 100 pages and 4 5 mb of p...
1  2059027  ...   these are the team members drewes van der laa...
2  2059027  ...   in het kader van kernfusie op aarde maak je e...
3  2059027  ...                                   testing testing
4  3581210  ...   thanks to yahoo s toolbar i can now capture t...

[5 rows x 7 columns]

In [97]:
import nltk
from nltk.corpus import stopwords

In [98]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [99]:
stop = stopwords.words('english')

In [100]:
df1['text'] = df1['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [101]:
df1['text'].head(5)

0    info found 100 pages 4 5 mb pdf files wait unt...
1    team members drewes van der laag urllink mail ...
2    het kader van kernfusie op aarde maak je eigen...
3                                      testing testing
4    thanks yahoo toolbar capture urls popups means...
Name: text, dtype: object

In [46]:
df1.head(5)

        id  ...                                               text
0  2059027  ...  info found 100 pages 4 5 mb pdf files wait unt...
1  2059027  ...  team members drewes van der laag urllink mail ...
2  2059027  ...  het kader van kernfusie op aarde maak je eigen...
3  2059027  ...                                    testing testing
4  3581210  ...  thanks yahoo toolbar capture urls popups means...

[5 rows x 7 columns]

In [121]:
df1['labels']=df1.apply(lambda col: [col['gender'],str(col['age']),col['topic'],col['sign']], axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [122]:
df1['labels'].head(5)

0                   [male, 15, Student, Leo]
1                   [male, 15, Student, Leo]
2                   [male, 15, Student, Leo]
3                   [male, 15, Student, Leo]
4    [male, 33, InvestmentBanking, Aquarius]
Name: labels, dtype: object

In [123]:
result = pd.concat([df1['text'], df1['labels']], axis=1)

In [124]:
result.head(5)

                                                text                                   labels
0  info found 100 pages 4 5 mb pdf files wait unt...                 [male, 15, Student, Leo]
1  team members drewes van der laag urllink mail ...                 [male, 15, Student, Leo]
2  het kader van kernfusie op aarde maak je eigen...                 [male, 15, Student, Leo]
3                                    testing testing                 [male, 15, Student, Leo]
4  thanks yahoo toolbar capture urls popups means...  [male, 33, InvestmentBanking, Aquarius]

In [126]:
X=result['text']

In [125]:
Y=result['labels']

In [127]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.2)

In [128]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer(binary=True, ngram_range=(1,2))

In [142]:
X=vectorizer.fit_transform(X)

In [169]:
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [172]:
scaler = preprocessing.MaxAbsScaler()

In [173]:
X_scaler=scaler.fit_transform(X)

In [174]:
X_scaler[1]

<1x3004541 sparse matrix of type '<class 'numpy.float64'>'
	with 25 stored elements in Compressed Sparse Row format>

In [130]:
label_counts=dict()

for labels in result.labels.values:
    for label in labels:
        if label in label_counts:
            label_counts[label]+=1
        else:
            label_counts[label]=1

In [131]:
label_counts

{'13': 745,
 '14': 2043,
 '15': 3508,
 '16': 4156,
 '17': 6859,
 '23': 5519,
 '24': 5746,
 '25': 2837,
 '26': 2869,
 '27': 4094,
 '33': 1654,
 '34': 1886,
 '35': 3365,
 '36': 1985,
 '37': 310,
 '38': 196,
 '39': 412,
 '40': 192,
 '41': 394,
 '42': 96,
 '43': 150,
 '44': 38,
 '45': 93,
 '46': 330,
 '47': 206,
 '48': 318,
 'Accounting': 364,
 'Advertising': 274,
 'Agriculture': 78,
 'Aquarius': 4784,
 'Architecture': 70,
 'Aries': 7795,
 'Arts': 1817,
 'Automotive': 116,
 'Banking': 283,
 'Biotech': 101,
 'BusinessServices': 416,
 'Cancer': 4589,
 'Capricorn': 3819,
 'Chemicals': 75,
 'Communications-Media': 1603,
 'Construction': 28,
 'Consulting': 243,
 'Education': 2646,
 'Engineering': 1402,
 'Environment': 6,
 'Fashion': 1805,
 'Gemini': 2558,
 'Government': 599,
 'HumanResources': 79,
 'Internet': 1420,
 'InvestmentBanking': 85,
 'Law': 308,
 'LawEnforcement-Security': 125,
 'Leo': 3904,
 'Libra': 4378,
 'Manufacturing': 441,
 'Maritime': 54,
 'Marketing': 414,
 'Military': 194,
 'Museums-Libraries': 285,
 'Non-Profit': 491,
 'Pisces': 4142,
 'Publishing': 207,
 'RealEstate': 17,
 'Religion': 258,
 'Sagittarius': 4571,
 'Science': 705,
 'Scorpio': 3243,
 'Sports-Recreation': 120,
 'Student': 10660,
 'Taurus': 3391,
 'Technology': 4379,
 'Telecommunications': 12,
 'Tourism': 65,
 'Transportation': 196,
 'Virgo': 2827,
 'female': 24185,
 'indUnk': 17560,
 'male': 25816}

In [175]:
from sklearn.preprocessing import MultiLabelBinarizer
binarizer=MultiLabelBinarizer(classes=sorted(label_counts.keys()))

In [176]:
Y=binarizer.fit_transform(result.labels)

In [177]:
from sklearn.model_selection import train_test_split

In [178]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X_scaler,Y,test_size=0.2)

In [179]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

In [180]:
model=LogisticRegression(solver='lbfgs')
model=OneVsRestClassifier(model)

In [ ]:
model.fit(Xtrain,Ytrain)

In [192]:
OneVsRestClassifier(estimator=LogisticRegression())

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [ ]:
Ypred=model.predict(Xtest)

In [194]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import recall_score

In [195]:

def print_evaluation_scores(Ytest, Ypred):
    print('Accuracy score: ', accuracy_score(Ytest, Ypred))
    print('F1 score: ', f1_score(Ytest, Ypred, average='micro'))
    print('Average precision score: ', average_precision_score(Ytest, Ypred, average='micro'))
    print('Average recall score: ', recall_score(Ytest, Ypred, average='micro'))

In [ ]:
# When I tried to Fit the model, it is showing non-convergence error and maximum number of iterations has already reached. I tried scaling X to fix issue as suggested in the error but model could not be fit.
#I referred to multiple sites but could see it is a common issue when using Logistic regression for text classification. No site had any solution for this issue
# I have included just the code as this could not be executed, looking forward for a right solution to solve this issue.