In [2]:
import pandas as pd
df = pd.read_csv("Qualitative_Bankruptcy.data.txt",delimiter=',')
df.to_csv('Qualitative_Bankruptcy.data.txt.csv')

In [3]:
df.head()

   P P.1  A A.1 A.2 P.2  NB
0  N   N  A   A   A   N  NB
1  A   A  A   A   A   A  NB
2  P   P  P   P   P   P  NB
3  N   N  P   P   P   N  NB
4  A   A  P   P   P   A  NB